<ons-scroller class="center">

	<div class="hero hero--xl  hero--user">
		<p class="username header header-light">#{{user.name}}</p>
		<img class="circle--lg" src="{{user.photo}}">
	</div>

	<div class="topcoat-tab-bar full user--info">
		<label class="topcoat-tab-bar__item">
			<button class="topcoat-tab-bar__button full"><span class="info--header">{{ user.place_count }}</span> <br /> Places </button>
		</label>
		<label class="topcoat-tab-bar__item">
			<button class="topcoat-tab-bar__button full"><span class="info--header">{{ user.permalink_count }}</span><br /> Shared Jaunts </button>
		</label>
	</div>

	<ons-row class="list--places  list--places__header">
		Recent Places
	</ons-row>

	<ons-row class="list--places" ng-repeat="place in user.places">
		<b>{{ place.name }}</b>
	</ons-row>

</ons-scroller>