<ons-navigator title="Sign In" right-button-icon="fa fa-lg fa-times" on-right-button-click="ons.screen.dismissPage()">
    <ons-page style="padding : 8px">
    <ons-text-input 
        ng-model="email"
        placeholder="Email..." 
        style="display: block; width: 100%">
    </ons-text-input>
    <br />
    <ons-text-input 
        ng-model="password"
        placeholder="Password" 
        style="display: block; width: 100%">
    </ons-text-input>
    <br />

    <ons-button 
        type="cta-large" 
        style="display: block; width: 100%; margin-top: 8px;"
        ui-sref="list">
        Sign In
    </ons-button>
    </ons-page>
</ons-navigator>