/* ==========================================================================
   Buttons
   ========================================================================== */

.btn-outlined.btn-white {
    border-color: white;
}

.btn-outlined.btn-white:active {
    background-color: white;
    color: purple;
}

.btn-white {
    color: white;
}






/* ==========================================================================
   Header bar
   ========================================================================== */

.bar {
    background-color: #FFA634;
}

.bar > .title {
    color: rgba(0, 0, 0, 0.5);
}






/* ==========================================================================
   Index page
   ========================================================================== */

.page--index .content {
    background: #663F1F url(/webroot/img/bridge.png) center center;
    background-size: cover;
}

.modal .content {
  background: #FFF;
}







.input-row input {
  width: 100%;
  padding: 20px;
}
