body {
	font-size: $font-normal;
}

a {
	color: $color-blue;
	text-decoration: none;	
}

.list-inline {
	margin: 0;
	padding: 0;
}

.list-inline li {
	display: inline-block;
}





/* =========================
Navigation Bar
============================ */

.navigation-bar {
	height: $navigation-bar-height;
	width: 100%;
}

.navigation-bar--bottom {
	position: fixed;
	bottom: 0;

	ul {
		
		.navigation-bar__item {
			width: 50%;

			a {
				text-align: center;
				height: 50px;
				display: block;
				line-height: 50px;
			}
		}	
	}
}


